:root {
    --screen-color: #111111;
    --text-color: #FFFFFF;
    --error-color: #FF0000;
    --border-empty-color: #353535;
    --border-full-color: #666666;
    --tile-correct-color: #006400;
    --tile-present-color: #D6A100;
    --tile-absent-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--screen-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin: 10px;
}

.word-to-guess {
    text-align: center;
    margin: 10px;
}

.line {
    display: flex;
    justify-content: center;
}

.line.shake {
    animation: shakeAnimation 0.5s ease-in-out;
}

.tile-container {
    width: 65px;
    height: 65px;
    margin: 3px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.tile-container.flipped {
    transform: rotateX(180deg);
}

.tile {
    position: relative;
    width: 100;
    height: 100%;
    transform-style: preserve-3d;
}

.tile-front, .tile-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tile-front {
    border: 2px solid var(--border-empty-color);
}

.tile-front.active-border {
    border: 2px solid var(--border-full-color);
}

.tile-back {
    transform: rotateX(180deg);
}

.tile-back.correct {
    background-color: var(--tile-correct-color);
}

.tile-back.present {
    background-color: var(--tile-present-color);
}

.tile-back.absent {
    background-color: var(--tile-absent-color);
}

.tile.pop {
    animation: popAnimation 0.12s ease;
}

.tile.bounce {
    animation: bounceAnimation 1.5s ease;
}

.error-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(175px, 50%, 325px);
    height: 100%;
    background-color: var(--error-color);
    border-radius: 5px;
    opacity: 1;
}

.error-message.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.error-message.pulse {
    animation: pulseAnimation 0.3s ease-in-out;
}

@keyframes popAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shakeAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(30px);
        animation-timing-function: ease-out;
    }
    40% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    60% {
        transform: translateY(20px);
        animation-timing-function: ease-out;
    }
    80% {
        transform: translateY(0);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}