:root {
    --tile-correct-color: #006400;
    --tile-present-color: #D6A100;
    --tile-absent-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    color: white;
    margin: 10px;
}

.line {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px;
}

.line.shake {
    animation: shakeAnimation 0.5s ease-in-out;
}

.tile-container {
    width: 65px;
    height: 65px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.tile-container.flipped {
    transform: rotateX(180deg);
}

.tile {
    position: relative;
    width: 100;
    height: 100%;
    transform-style: preserve-3d;
}

.tile-front, .tile-back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tile-front {
    border: 2px solid grey;
}

.tile-front.active-border {
    border: 2px solid white;
}

.tile-back {
    transform: rotateX(180deg);
}

.tile-back.correct {
    background-color: var(--tile-correct-color);
}

.tile-back.present {
    background-color: var(--tile-present-color);
}

.tile-back.absent {
    background-color: var(--tile-absent-color);
}

.tile.pop {
    animation: popAnimation 0.12s ease;
}

@keyframes popAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shakeAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.error-message {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: opacity 1s ease-out;
    opacity: 1;
}

.error-message.fade-out {
    opacity: 0;
}